.pdesign-404 {
  position: relative;
  margin: auto;
  text-align: center;

  .pdesign-404-title{
    text-transform: uppercase;
  }

  .pdesign-404-text{
    margin-bottom: 2em;
  }

  .pdesign-404-button {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1f3742;
    transition: background 0.3s ease;
  }

  .pdesign-404-button:hover {
    background: #1E2C31;
    color: white;
  }
}